

@{ ViewData["Title"] = "Admin Dashboard"; }


<h2>Admin</h2>

<p>Search drivers by name, phone, or car number.</p>
<a class="btn btn-primary" asp-area="Admin" asp-controller="AdminDrivers" asp-action="Search">Search for Drivers</a>
